body {
    margin: 0;
    /*background: red;*/
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px !important;
}

body {
    height: 100vh;
}

.container {
    /*background: orange;*/
    height: 100%;
    padding: 10px;
}

.login-form-container {
    /*background: yellow;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 250px;
}

.login-form__label,
.login-form__input {
    display: block;
    width: 100%;
    /*background: green;*/
}

.login-form__label {
    padding-left: 5px;
    padding-right: 5px;
}

.login-form__input {
    margin-bottom: 15px;
    padding: 15px 5px;
}

.login-form__submit {
    padding: 10px;
}

.logout-form-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*margin-left: auto;*/
}

.logout-form__button {
    padding: 10px 20px;
    margin-left: 10px;
}

.order-status {
    color: #fff !important;
    padding: 5px 10px;
    border: none !important;
    border-radius: 2px;
}